@charset "utf-8";

/*common template*/

.navbar-nav h4 {
    color: azure;
}

.navbar-nav h4:hover {
    color:  #88e3ff;
}

.logo {
    width: 120px;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: darkcyan;
}

footer h6 {
    color: azure;
}

/*index*/
.col-md-6{
    text-align: center;
}

.col-md-6 img {
    margin: 8px;
}
